{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    <form action="/password" onsubmit="validateFormPass()" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="old_password" placeholder="Old password" id="oldPass" type="password" required/>
        </div>
        <div class="form-group">
            <input class="form-control" name="new_password" placeholder="New password" id="newPass" type="password" required/>
        </div>
        <div class="form-group">
            <input class="form-control" name="new_password_again" placeholder="New password again" id="newPassAgn" type="password" required/>
        </div>
        <button class="btn btn-success" type="submit">Change</button>
    </form>
{% endblock %}
